<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mome"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mome.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.mome.Task"
            android:label="@string/title_activity_task" >
        </activity>
        <activity
            android:name="com.example.mome.MotivateMe"
            android:label="@string/title_activity_motivate_me" >
        </activity>
        <activity
            android:name="com.example.mome.ImMotivational"
            android:label="@string/title_activity_im_motivational" >
        </activity>
        <activity
            android:name="com.example.mome.Social"
            android:label="@string/title_activity_social" >
        </activity>
        <activity
            android:name="com.example.mome.ImMotivationalPrompt"
            android:label="@string/title_activity_im_motivational_prompt" >
        </activity>
        <activity
            android:name="com.example.mome.Chat"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name="com.example.mome.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mome.AddTask"
            android:label="@string/title_activity_add_task" >
        </activity>
        <activity
            android:name="com.example.mome.ToDoList"
            android:label="@string/title_activity_to_do_list" >
        </activity>
    </application>

</manifest>